* {
    margin: 10px;
}

body {
    background: #036666;
    color: aliceblue;
    cursor: pointer;
}

/* for fixed when scrolling web page */
.sticky-column {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* Add the cursor highlight styles */
.cursor-highlight {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgba(54, 54, 54, 0.342);
    border-radius: 50%;
    transform: translate(-80%, -80%);
    pointer-events: none; /* Allows clicks to pass through the highlight */
    z-index: 9999; /* Ensures the highlight appears on top of other content */
}

/* menu part */
.menu {
    position: relative;
    padding-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-top: 20px;
    background-color: #0000001e;
    width: 200px;
    transition: transform 0.5s ease;
}

.menu li a {
    text-decoration: none;
    color: rgb(183, 183, 183);
}

/* Define the hover effect */
.menu li:hover {
    transform: scale(1.06);
    box-shadow: 0 0 10px rgba(8, 173, 173, 0.2);
}