html {
  font-family: "Catamaran", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.3px;
}

body {
  font-family: "Catamaran", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.3px;
}

.left {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  background: linear-gradient(to left top, #43cea2, #185a9d), center center no-repeat;
  background-size: cover;
  color: #efefef;
  text-align: center;
  position: fixed;
  height: 100%;
  overflow: hidden;
}
.left .bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left top, #43cea2, #185a9d);
  opacity: 0.85;
}
.left .info {
  flex: none;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  width: 90%;
  margin: 0 auto;
}
.left .info .name {
  font-weight: 500;
}
.left .info .social-links {
  margin-top: 30px;
}
.left .info .fa {
  margin: 10px;
  font-size: 24px;
  color: #fff;
}

.left-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24em;
  height: 100%;
}

.right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  float: right;
}
.right .content {
  padding: 0;
  margin: 0 0 10px;
  font-weight: 300;
  line-height: 1.5;
}
.right .content p {
  text-align: justify;
}

.right-inner {
  margin: 40px;
  margin-right: 80px;
}

.cursor-highlight {
  width: 100px;
  height: 100px;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: translate(-80%, -80%);
  pointer-events: none;
  z-index: 9999;
}

.menu {
  position: relative;
  padding-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.menu ul {
  list-style-type: none;
  padding: 0;
}
.menu li {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.1176470588);
  width: 200px;
  transition: transform 0.5s ease;
}
.menu li a {
  text-decoration: none;
  color: rgb(183, 183, 183);
}
.menu li:hover {
  transform: scale(1.06);
  box-shadow: 0 0 10px rgba(8, 173, 173, 0.2);
}

.timeline-1 {
  border-left: 3px solid #b565a7;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(177, 99, 163, 0.09);
  margin: 0 auto;
  position: relative;
  padding: 50px;
  margin-right: 20px;
  list-style: none;
  text-align: left;
  max-width: 40%;
}
.timeline-1 .event {
  border-bottom: 1px dashed #000;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}
.timeline-1 .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline-1 .event:before {
  position: absolute;
  display: block;
  top: 0;
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}
.timeline-1 .event:after {
  position: absolute;
  display: block;
  top: 0;
  box-shadow: 0 0 0 3px #b565a7;
  left: -55.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

.card {
  border: none;
}

.card-img {
  border-radius: 0;
}

.vgr-cards .card {
  display: flex;
  flex-flow: wrap;
  flex: 100%;
  margin-bottom: 40px;
}
.vgr-cards .card:nth-child(even) .card-img-body {
  order: 2;
}
.vgr-cards .card:nth-child(even) .card-body {
  padding-left: 0;
  padding-right: 1.25rem;
}
@media (max-width: 576px) {
  .vgr-cards .card {
    display: block;
  }
}
.vgr-cards .card-img-body {
  flex: 1;
  overflow: hidden;
  position: relative;
}
@media (max-width: 576px) {
  .vgr-cards .card-img-body {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
}
.vgr-cards .card-img {
  width: 100%;
  height: auto;
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1140px) {
  .vgr-cards .card-img {
    margin: 0;
    transform: none;
    width: 100%;
    height: auto;
  }
}
.vgr-cards .card-body {
  flex: 2;
  padding: 0 0 0 1.25rem;
}
@media (max-width: 576px) {
  .vgr-cards .card-body {
    padding: 0;
  }
}

.tdiv {
  display: inline-flexbox;
  height: 30px;
}
.tdiv #type {
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  .left {
    display: block;
    width: 100%;
    position: static;
  }
  .left .info {
    margin-top: 300px;
  }
  .right {
    display: block;
    width: 100%;
  }
  .right-inner {
    margin-right: 40px;
  }
}
@media screen and (max-width: 600px) {
  .right h4 {
    display: block;
    vertical-align: top;
    width: 100%;
  }
  .right .content {
    display: block;
    vertical-align: top;
    width: 100%;
  }
  .right-inner {
    margin-right: 40px;
  }
  .timeline-1 {
    max-width: 98%;
    padding: 25px;
  }
  .timeline-1 .event {
    padding-top: 30px;
  }
  .timeline-1 .event:before {
    left: 0px;
    text-align: left;
  }
  .timeline-1 .event:after {
    left: -31.8px;
  }
}
@media screen and (max-width: 480px) {
  body {
    width: 480px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */