// Reset and global styles
$color_1: #efefef;
$color_2: #fff;
$color_3: #000;
$font-family_1: 'Catamaran', sans-serif;
$background-color_1: #f5f5f5;
$background-color_2: #f1f1f1;

html {
	font-family: $font-family_1;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 0.3px;
}

body {
	font-family: $font-family_1;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 0.3px;
}

// left column
.left {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	background: linear-gradient(to left top, #43cea2, #185a9d), center center no-repeat;
	background-size: cover;
	color: $color_1;
	text-align: center;
	position: fixed;
	height: 100%;
	overflow: hidden;

	.bg-img {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(to left top, #43cea2, #185a9d);
			opacity: 0.85;
		}
	}

	.info {
		flex: none;
		// position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		color: $color_2;
		width: 90%;
		margin: 0 auto;

		.name {
			font-weight: 500;
		}

		.social-links {
			margin-top: 30px;
		}

		.fa {
			margin: 10px;
			font-size: 24px;
			color: $color_2;
		}
	}
}

.left-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 24em;
	height: 100%;
}

// right column
.right {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	float: right;

	.content {
		padding: 0;
		margin: 0 0 10px;
		font-weight: 300;
		line-height: 1.5;

		p {
			text-align: justify;
		}
	}
}

.right-inner {
	margin: 40px;
	margin-right: 80px;
}

// Add the cursor highlight style
.cursor-highlight {
	width: 100px;
	height: 100px;
	position: absolute;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(0.5px);
	-webkit-backdrop-filter: blur(0.5px);
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.18);
	transform: translate(-80%, -80%);
	pointer-events: none;
	z-index: 9999;
}

// menu part
.menu {
	position: relative;
	padding-top: 10px;
	font-weight: bold;
	text-transform: uppercase;

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		margin-top: 20px;
		background-color: #0000001e;
		width: 200px;
		transition: transform 0.5s ease;

		a {
			text-decoration: none;
			color: rgb(183, 183, 183);
		}

		&:hover {
			transform: scale(1.06);
			box-shadow: 0 0 10px rgba(8, 173, 173, 0.2);
		}
	}
}

// timeline
.timeline-1 {
	border-left: 3px solid #b565a7;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	background: rgba(177, 99, 163, 0.09);
	margin: 0 auto;
	position: relative;
	padding: 50px;
	margin-right: 20px;
	list-style: none;
	text-align: left;
	max-width: 40%;

	.event {
		border-bottom: 1px dashed #000;
		padding-bottom: 25px;
		margin-bottom: 25px;
		position: relative;

		&:last-of-type {
			padding-bottom: 0;
			margin-bottom: 0;
			border: none;
		}

		&:before {
			position: absolute;
			display: block;
			top: 0;
			left: -207px;
			content: attr(data-date);
			text-align: right;
			font-weight: 100;
			font-size: 0.9em;
			min-width: 120px;
		}

		&:after {
			position: absolute;
			display: block;
			top: 0;
			-webkit-box-shadow: 0 0 0 3px #b565a7;
			box-shadow: 0 0 0 3px #b565a7;
			left: -55.8px;
			background: #fff;
			border-radius: 50%;
			height: 9px;
			width: 9px;
			content: "";
			top: 5px;
		}
	}
}

// edu-cards
.card {
	border: none;
}

.card-img {
	border-radius: 0;
}

.vgr-cards {
	.card {
		display: flex;
		flex-flow: wrap;
		flex: 100%;
		margin-bottom: 40px;

		&:nth-child(even) .card-img-body {
			order: 2;
		}

		&:nth-child(even) .card-body {
			padding-left: 0;
			padding-right: 1.25rem;
		}

		@media (max-width: 576px) {
			display: block;
		}

	}

	.card-img-body {
		flex: 1;
		overflow: hidden;
		position: relative;

		@media (max-width: 576px) {
			width: 100%;
			height: 200px;
			margin-bottom: 20px;
		}

	}

	.card-img {
		width: 100%;
		height: auto;
		position: absolute;
		margin-left: 50%;
		transform: translateX(-50%);

		@media (max-width: 1140px) {
			margin: 0;
			transform: none;
			width: 100%;
			height: auto;
		}

	}

	.card-body {
		flex: 2;
		padding: 0 0 0 1.25rem;

		@media (max-width: 576px) {
			padding: 0;
		}

	}
}

// typed
.tdiv {
	display: inline-flexbox;
	height: 30px;

	#type {
		font-size: 25px;
		font-weight: bold;
	}
}

// Responsive styles
@media screen and (max-width: 1100px) {
	.left {
		.info {
			margin-top: 300px;
		}

		display: block;
		width: 100%;
		position: static;
	}

	.right {
		display: block;
		width: 100%;
	}

	.right-inner {
		margin-right: 40px;
	}
}

@media screen and (max-width: 600px) {
	.right {
		h4 {
			display: block;
			vertical-align: top;
			width: 100%;
		}

		.content {
			display: block;
			vertical-align: top;
			width: 100%;
		}
	}

	.right-inner {
		margin-right: 40px;
	}

	.timeline-1 {
		max-width: 98%;
		padding: 25px;

		.event {
			padding-top: 30px;

			&:before {
				left: 0px;
				text-align: left;
			}

			&:after {
				left: -31.8px;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	body {
		width: 480px;
		margin: 0 auto;
	}
}